<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<body>
    <header class="site-header">
        <h1>SoundCheck</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="/homepage">Home</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <section class = 'scrolling-list'>
            <h2>Concerts near me</h2>

            {% if Artist != '' %}
            <ul>
                {% for concert in concerts %}
                        <li class="glass-container1">
                            <strong>Artist:</strong> {{ concert[0] }}<br>
                            <strong>Venue:</strong> {{ concert[1] }}<br>
                            <strong>Date:</strong> {{ concert[2] }}<br>
                            <strong>Overall Rating:</strong> {{ concert.overall_rating or "No Overall Rating Yet!" }}<br>
                            <strong>Review:</strong> {{ concert.review or "No Reviews Yet!" }}<br>
                            <form action="{{ url_for('giveRating') }}" method="get">
                                <button class="cta-button" type="submit">Leave a Rating!</button>
                            </form>
                        </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No concerts available at the moment.</p>
            {% endif %}

                
        </section>
    </main>


</body>
</html>