<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<body class="concert-page"></body>
    <header class="site-header">
        <h1>SoundCheck</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="/homepage">Home</a></li>
                <li><a href="/concerts">All Concerts</a></li>
                <li><a href="/concerts?personalized=true">Personalized Concerts</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <section class = 'scrolling-list'>
            <h2>{{ title }}</h2> <!-- Dynamic title  -->

            {% if concerts %}
            <ul>
                {% for concert in concerts %}
                    <li class="glass-container1">
                        <strong>Artist:</strong> {{ concert.artist_name }}<br>
                        <strong>Venue:</strong> {{ concert.venue or "Venue Not Available" }}<br>
                        <strong>Date:</strong> {{ concert.date.strftime("%Y-%m-%d %I:%M %p") if concert.date else "Date Not Available" }}<br>
                        {% if concert.distance %}
                            <strong>Distance:</strong> {{ concert.distance }} miles<br>
                        {% endif %}
                        <strong>Overall Rating:</strong> {{ concert.overall_rating or "No Overall Rating Yet!" }}<br>
                        <strong>Review:</strong> {{ concert.review or "No Reviews Yet!" }}<br>

                        <div class="button-container">
                            <form action="{{ url_for('giveRating') }}" method="get" style="margin: 0; padding: 0;">
                                <button class="cta-button" type="submit">Leave a Rating!</button>
                            </form>
                            {% if concert.url %}
                            <a href="{{ concert.url }}" target="_blank" class="cta-button">Buy Tickets</a>
                            {% else %}
                            <span class="text-muted">Tickets Unavailable</span>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No concerts available at the moment.</p>
                {% endif %}
            </section>
        </main>
    </body>
    </html>
